
.banner {
	padding: 40px;
}
.banner-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner-items {
	flex-basis: 50%;
}
.banner-title{
		width: 600px;
		height: 225px;
		left: 80px;
		top: 108px;
		font-family: "Roboto Serif";
		font-style: normal;
		font-weight: 500;
		font-size: 64px;
		line-height: 75px;
		color: var --yellow;
}
.banner-text {
	/* position: absolute; */
	width: 600px;
	height: 128px;
	left: 80px;
	top: 365px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
}
.banner-image {
	flex-basis: 50%;
	text-align: center;
}