.cards__container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	position: relative;
	/* align-items: flex-start; */
	flex-direction: row;
	justify-content: space-around;
	/* padding: 40px; */
}
.cardOne_template_title {
	padding: 30px;
}
.card {
	position: relative;
	justify-content: space-between;
	margin-top: 30px;
	padding: 20px;
	background: #ffffff;
	flex-basis: 25.33%;
	border-radius: 40px;
}
.cardOne {
	background: #febd2f;
}
.card__image {
	position: relative;
	width: 17px;
	left: 9.38%;
	right: 50%;
	top: -20%;
	bottom: 200%;
	float: right;
	width: 40px;
	flex-basis: 50%;
}
