:root {
	--light-gray: #f5f3ef;
	--gray: #dcdcdc;
	--dark-gray: #646464;
	--black: #000;
	--white: #fff;
	--yellow: #febd2f;
}

.footer__logo {
	
	text-align: center;
	background-color: var(--yellow);
	margin-top: 30px;
}


