nav ul {
	display: flex;
}
nav ul li {
	margin-right: 20px;
	list-style-type: none;
}
li a:hover {
	color: blue;
}
li {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	padding: 10px;
}

li a {
	color: var(--black);
	font-size: 24px;
	/* text-decoration: none; */
	transition: color 1s;
}

li::after {
	content: "";
	background-color: var(--black);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	transition: width 0.5s;
}
.navbar-button {
	margin-right: 82px;
	border-radius: 28px;
	width: 82px;
	height: 19px;
	left: 1254px;
	top: 40px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}
