body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	background: var(--light-gray);
	
}

.nav-container {
	/* display: flex; */
	align-items: center;
	justify-content: space-between;

	
	/* margin-right: 800px; */

	/* justify-content: flex-start; */
	/* justify-content: space-around; */

	/* align-items: stretch; */
}
.nav-links {
	margin-left: 5px;
	margin-right: 20px;

}
.nav-item {
	height: 50px;
	width: 75px;
}

.navbar-logo {
	width: 162.03px;
	height: 40px;
	left: 639px;
	top: 30px;
	
}

ul {
	list-style-type: none;
	
}

/*contact us and aboutus inline insteaf of listed items*/
li {
	display: inline-flex;
	display: inline-block;
	/* align-content: flex-start; */
	/* position: absolute; */
	/* width: 60px;
height: 19px;
left: 80px;
top: 38px; */
}

.courselink {
	width: 65px;
	height: 19px;
	left: 187px;
	top: 38px;
}

.aboutuslink {
	width: 65px;
	height: 19px;
	left: 187px;
	top: 38px;
}

.button1 {
	margin-right: 82px;
	border-radius: 28px;
width: 82px;
height: 19px;
left: 1254px;
top: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
}
