.body-container{
	display: flex;
	
}

.title-container {
	/* display: flex; */
	padding-top: 40px;
	width: 600px;
	height: 225px;
	left: 80px;
	top: 108px;
	
}



.page__img {
	width: 600px;
	height: 440px;
	left: 760px;
	top: 80px;
	background: url(image.png);
	border-radius: 40px;
}


